 ul .list-indent {
  margin: 1em;
}

ol .list-indent {
  margin: 1em;
  font-family: serif;
}
.navbar-fixed-bottom{
    min-height: 20px;
}
.navbar-custom {
  background-color: #f2e7e1;
  border-color: #e7e7e7;
}

.navbar-fixed-bottom .container {
text-align: center;
}

.float-right {
  float: right;
}
.full-height {
  min-height: 100%;
}
body {
  padding-bottom: 20px;
  background-color: #e1f0e7;
}
.column-label-HTML {
  background-color: #b9e5dd;
  border:2px solid #41e5c8;
}
.column-label-upcoming {
  background-color: #c880e1;
  border:2px solid #b426e5;
}
@media (min-width: 768px)
{
  .right-border {
    border-right: 2px solid black;
  }
}
@media (min-width: 768px)
{
  .left-border {
    border-left: 2px solid black;
  }
}
.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.top-margin-10 {
  margin-top: 10px;
}
.width-275 {
   width: 275px;
}
.width-350 {
   width: 350px;
}
.silks {
  font-family: fantasy;
  font-size: 140%;
  font-weight: bold;
}
#myCarousel-lg {
  margin-top: 20px;
}
.carousel-indicators li {
    border: 2px solid #f2b907;
}
.carousel-indicators .active {
  background-color: black;
}
